<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} &times; {{ metadata.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&family=Vollkorn:ital,wght@0,500;0,700;1,500;1,700&family=Young+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="https://unpkg.com/prism-themes@1.9.0/themes/prism-nord.min.css">
  <meta name="theme-color" content="#2a2a2a" />
  <meta name="description" content="{{ description }}">
  <script type="application/ld+json">{{ schemaOrg | dump | safe }}</script>
  <meta property="og:title" content="{{ title }}{%- if "posts" in tags -%}{% else %} &times; {{ metadata.title }}{% endif %}">
  <meta property="og:type" content="{%- if "posts" in tags -%}article{% else %}blog{%- endif -%}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ metadata.url }}/image/image.png">
  <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ metadata.title }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ metadata.url }}{{ page.url }}">
  <meta name="twitter:title" content="{{ title }}{%- if "posts" in tags -%}{% else %} &times; {{ metadata.title }}{% endif %}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ metadata.url }}/image/image.png">
</head>
<body>
  <header>
    <a href="/">{{ metadata.title }}</a>
  </header>

  {{ content | safe }}

  <footer>
    <span>Got something to say? Tell me at <b>{{ metadata.email }}</b></span>
    <span>See it on <a href="https://github.com/matheus-rosin/somethingithought.today" target="_blank">GitHub</a></span>
  </footer>

  <script type="application/javascript" src="/js/common.js"></script>
  {%- if metadata.env == "production" -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HRV9B54K0B"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HRV9B54K0B');
  </script>
  {%- endif -%}
</body>
</html>